---
title: Isaac Truett - Guides
description: How-to guides from Isaac Truett
layout: default
permalink: /how/to/
---
<main>
	<header><h2>Guides</h2></header>
	<p>These guides describe not just <i>how</i> to perform a task or reach a goal, but also <i>why</i> a step is performed, and the <i>values</i> behind the whole process.</p>
	<p>This practice of writing guides is heavily influenced by the work and writings of <a href="https://mike-bland.com/">Mike Bland</a>.</p>
	<dl class="post-list">
{% for page in site.pages %}
	{% for category in page.categories %}
		{% if category == "guide" %}
		<dt><a href="{{ page.url }}">{{ page.title }}</a></dt>
		<dd>{{ page.description }}</dd>
		{% endif %}
	{% endfor %}
{% endfor %}
	</dl>
</main>

