h1 a {
	text-decoration: none;
	color: #000;
}

.post-list dt {
	font-weight: bold;
}
.post-list dd {
	font-size: small;
	font-style: italic;
}
.post-list .post-date {
	color: #666;
}

.post-header h4 {
	font-weight: normal;
	font-style: italic;
	margin-top: -1em;
}
