---
permalink: s.css
---
$primary-fg-color: #000;
$secondary-fg-color: #666;
$primary-bg-color: #fff;
$secondary-bg-color: #eee;
$accent-color: #c9daec;

$main-column-max-width: 60em;

$about-bg-image: url({% link images/bg.jpg %});

@import 'reset';
@import 'nav';
@import 'posts';
@import 'guides';
@import 'about';

.content {
	background-color: $primary-bg-color;
	padding: .1px .5em;
	margin: auto;
	position: relative;
}
