---
permalink: s.css
---
$primary-fg-color: #000;
$secondary-fg-color: #666;
$primary-bg-color: #fff;
$secondary-bg-color: #eee;
$accent-color: #c9daec;

$main-column-max-width: 60em;

html, body {
	font-family: 'IBM Plex Sans Condensed', sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: $accent-color;
}
.content {
	background-color: $primary-bg-color;
	padding: .1px .5em;
	max-width: $main-column-max-width;
	margin: auto;
	position: relative;
}
main {
}
h2, main>section:first-child>h3 {
	margin: 0 0 .25em 0;
}
main>section {
	width: auto;
}
dt {
	font-weight: bold;
}
dl {
	margin: 0;
}
dd {
	margin: 0 1em .5em 1em;
}
p, dd, li {
	max-width: $main-column-max-width;
}
h1 span {
	color: $secondary-fg-color;
}
h1 {
	margin: 0;
	padding: 0;
}
h1 a {
	text-decoration: none;
	color: $primary-fg-color;
}
ol, ul {
	padding-left: 2em;
	margin: 0;
}

figure {
	margin: 0 16px 0 0;
	overflow-x: auto;
	background-color: $secondary-bg-color;
	padding-left: .5em;
}
code {
	font-family: 'IBM Plex Mono', monospace;
}
noscript {
    border: 1px solid red;
    display: inline-block;
    padding: .5em;
    margin: .5em;
}
h3 {
	margin: .25em 0;
}
/* posts and pages */
.post-list dd {
	font-size: small;
	font-style: italic;
}
.post-list .post-date {
	color: $secondary-fg-color;
}

.post-header h4 {
	font-weight: normal;
	font-style: italic;
	margin-top: -.5em;
	margin-bottom: 0;
	padding-bottom: .5em;
}
section h4 {
	width: fit-content;
	text-align: center;
	border-top: 1px solid $accent-color;
}
hr {
	border: 1px solid $accent-color;
}
ul.posts {
	display: inline-block;
}

ul.values {
	font-style: italic;
}
nav ul, footer ul, ul.values, ul.posts {
	list-style-type: none;
	padding: 0;
	margin: .5em 0;
}
nav li, footer li, ul.values li, ul.posts li {
	display: inline-block;
	margin-right: 1em;
}
nav ul {
	margin-bottom: 0;
	padding-bottom: .5em;
}
footer ul {
	margin: 0;
	padding-bottom: .5em;
}
ul.values li {
	margin-right: 0.5em;
}

details {
	padding: .5em .5em 0;
	margin: .5em 0 0;
	background-color: $primary-bg-color;
}
details button {
	display: block;
	margin-top: .5em;
}
summary {
	font-weight: bold;
	margin: -.5em -.5em 0;
	padding: .5em;
}
details[open] {
	padding: .5em;
}
details[open] summary {
	border-bottom: 1px solid $accent-color;
	margin-bottom: .5em;
}
.guide-footer {
	font-style: italic;
}