<footer>
	<ul itemscope itemtype="https://schema.org/Person">
		<li>&copy; <span itemprop="name">Isaac Truett</span></li>
		<li><a itemprop="sameAs" target="_blank" href="https://plus.google.com/+IsaacTruett">Google+</a></li>
		<li><a itemprop="sameAs" target="_blank" href="https://www.linkedin.com/in/isaac-truett/">LinkedIn</a></li>
		<li><a itemprop="sameAs" target="_blank" href="https://stackoverflow.com/users/374293/isaac-truett">StackOverflow</a></li>
		<li><a itemprop="sameAs" target="_blank" href="https://twitter.com/itruett">Twitter</a></li>
		<li><a target="_blank" href="{% link feed.xml %}">Atom Feed</a></li>
	</ul>
</footer>
