ul.values {
	font-style: italic;
}
ul.posts {
	display: inline-block;
}
.post-header {
	h4 {
		margin-top: -.75em;
		width: fit-content;
		text-align: center;
		border-top: 1px solid $accent-color;
	}
}
details {
	margin: .25em 0 0;

	button {
		display: block;
		margin-top: .5em;
	}
}
details[open] {
	summary {
		border-bottom: 1px solid $accent-color;
		margin-bottom: .5em;
	}
	dt {
		font-weight: bold;
	}
}
summary {
	cursor: pointer;
}
.guide-footer {
	font-style: italic;
}