.post-list {
	.post-date {
		color: $secondary-fg-color;
	}
	dd {
		font-size: small;
		font-style: italic;
	}
}
.post-date {
	font-weight: normal;
	font-style: italic;
}
figure {
	margin: 0 16px 0 0;
	overflow-x: auto;
	background-color: $secondary-bg-color;
	padding-left: .5em;
}
ol.gallery {
    padding: 0 1em;
    margin: 0;
    display: flex;
}
ol.gallery li {
	list-style-type: none;
	margin: 0 .5em;
}
gallery img {
	display: inline-block;
}