---
layout: compress
---
<!doctype html>
<html lang=en>
	<head>
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-5893602-14"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-5893602-14');
		</script>
		<title>{{ page.title }}</title>
		<link rel=icon href={% link images/me.png %}>
		<meta name=Description content="{{ page.description }}">
		<meta name=viewport content="width=device-width, initial-scale=1">
		{% seo title=false %}
		<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans+Condensed" rel="stylesheet">
		<link rel=stylesheet href={% link s.css %}>
		<script async src={% link s.js %}></script>
	</head>
	<body>
		<section class="content">
			{% include header.html %}
	
			{{ content }}
	
			{% include footer.html %}
		</section>
	</body>
</html>
