---
layout: default
---
<header class="guide-header">
	<h2>{{ page.title }}</h2>
	<ul class=values>
{% for value in page.values %}
		<li>{{ value }}</li>
{% endfor %}
	</ul>
{% assign blogReferences = "" %}
{% for post in site.posts %}
	{% for reference in post.referenced_guides %}
		{% if reference == page.url %}
			{% assign referenceFound = true %}
			{% assign blogReferences = blogReferences | append: "<li><a href='" | append: post.url | append: "'>" | append: post.title | append: "</a></li>" %}
		{% endif %}
	{% endfor %}
{% endfor %}
{% if referenceFound %}
		<em class=blog-links>Blogged about in: </em>
		<ul class=posts>
{{ blogReferences }}
		</ul>
{% endif %}
</header>
<hr>
<main>
{% include no-js.html %}
{{ content }}
</main>
<hr>
<footer class="guide-footer">
	<p>Did you enjoy this guide? Did you learn something useful? You could <a href=https://paypal.me/isaactruett>leave a tip with PayPal</a>.</p>
	<p>Do you want to contact me with questions or comments? Use the links below. I would love to hear from you!</p>
</footer>
